#body-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-side {
    width:10%;
    text-align: center;
    background-color: pink;

}

.body-main {
    width:80%;
    text-align: center;
    background-color: blue;

}