#body-parent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 122px;
    width: 100%;
}

.body-side {
    width: 8%;
    text-align: center;
    background-color: #041C32;
    color: #dadada;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    height: 65vh;
}

.social-icon {
    color: #dadada;
    transition: 500ms;
}

.social-icon:hover {
    color: #4d99dd;
    transition: 500ms;
}


.body-main {
    width: 84%;
    text-align: center;
    background-color: #041C32;
}

#social-sidebar {
    list-style-type: none;
    margin-left: -40px;
}

.email {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -2px;
    color: #dadada;
    text-decoration: none;
}

.email-parent {
    display: flex;
    justify-content: center;
}

.social-list a {
    color: #dadada;
    transition: 700ms;
}

.social-list a:hover {
    color: #A5C9CA;
    transition: 700ms;
}

.social-icons-sidebar {
    font-size: 18px;
}

@media(max-width: 500px) {
    .body-side {
        display: none;
    }
    .body-main {
        width: 100%;
    }
    #body-parent {
        padding-top: 78px;
    }
    
}

@media(max-width: 650px) {
    #body-parent {
        padding-top: 90px;
    }
    
}
@media(max-width: 450px) {
    #body-parent {
        padding-top: 85px;
    }
    
}