#main-footer {
    text-align: center;
    background-color: #04293A;
    border-top: 2px solid #041C32;
    padding-top: 20px;
}

#footer-divider {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-sections {
    background-color: #04293A;
    max-width: 430px;
    /* min-width: 250px; */
    text-align: left;
    padding: 25px
}

#footer-copyright {
    background-color: #041C32;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #dadada;
    height: 35px;
}

#main-footer:hover .heart-icon {
    transition: 700ms;
    color: maroon;
    margin: 0px 3px;
    font-size: 20px;
}

.heart-icon {
    transition: 700ms;
    margin: 0px 5px;
    color: red;
}

.footer-list-sec {
    list-style-type: none;
    line-height: 27px;
    margin-left: -30px
}

.footer-list-sec a {
    color: #dadada
}

.footer-list-sec > * {
    color: #dadada
}

.sub-input {
    background-color: #041C32;
    border: none;
    border-bottom: 1px solid #064663;
    padding: 15px 15px;
    padding-top: 12px;
    color: #dadada;
    transition: 500ms;
    text-decoration: none;
    font-size: 15px;
    margin-top: 0px;
    outline: none;
    border-radius: 10px 0px 0px 10px;
}

.sub-button {
    margin-top: -2px;
    padding: 12px 15px;
    border-radius: 0px 10px 10px 0px;
}

/* @media(max-width: 370px) {
    .footer-sections {
        max-width: 100%;
        min-width: 100%;
    }
} */

@media (max-width: 909px) {
    #footer-divider {
        /* justify-content: left; */
    }
    #main-footer {
        justify-content: center;
    }
}

@media (max-width: 872px) {
    .footer-sections {
        padding: 0px 20px;
        padding-bottom: 12px;
    }
    #footer-divider {
        justify-content: left;
    }
    #main-footer {
        width: 100%;
        padding-top: 20px;
    }
    #footer-copyright {
        height: 40px;
    }
}

@media (max-width: 640px) {
    .connect-form input {
        width: 94%;
    }
}

@media (max-width: 440px) {
    .connect-form input {
        width: 93%;
    }
}

@media (max-width: 370px) {
    .connect-form input {
        width: 92%;
    }
}

@media (max-width: 320px) {
    .connect-form input {
        width: 91%;
    }
}

@media (max-width: 623px) {
    #footer-divider {
        justify-content: center;
    }
}

@media (max-width: 360px) {
    #footer-divider {
        justify-content: center;
        align-items: center;
    }
    .sub-input {
        padding: 13px 10px;
        padding-top: 12px;
        font-size: 13px;
        max-width: 168px;
    }
    .sub-button {
        margin-top: -2px;
        padding: 10px;
        font-size: 13px;
    }
    
}