#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  20px 3.5%;
    background-color: #041C32;
    position: fixed;
    z-index: 1;
    width: 93%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
}

.manu-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.menu-list {
    list-style-type: none;
    padding: 7px;
    margin-right: 25px;
}

.menu-list a {
    color: #dadada;
    text-decoration: none;
    transition: 500ms;
}

.menu-list a:hover {
    color: #A5C9CA;
    transition: 500ms;
}

.menu-list-num {
    color: #A5C9CA
}

.main-logo {
    width: 70px
}

/* Mobile Menu */

.mobile-menu {
    display: none;
}

.menu-icon {
    font-size: 20px;
}

@media(max-width: 650px) {
    .mobile-menu {
        display: flex;
    }
    .manu-bar {
        display: none;
    }
    .main-logo {
        width: 50px
    }
    /* #main-header {
        padding: 2.5% 40px;
        width: 95%;
    } */
}

@media(max-width: 450px) {
    .main-logo {
        width: 45px
    }
}

@media(max-width: 760px) {
    .menu-list {
        margin-right: 12px;
    }
}