#hire-parent {
    /* width: 100%; */
    padding: 5px 20px;
    /* height: 300px; */
    background-color: #041C32;
    
}


#hire-parent h2 {
    text-decoration: underline;
}

.hire-parent {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hire-service {
    background-color: #041C32;
    border: 1px solid grey;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    padding-bottom: 10px;
}

.hire-service:hover {
    width: 390px;
    margin: 0px;
}

.hire-image {
    width: 100%;
}

@media(max-width: 400px) {
    .hire-service {
        width: 350px;
    }
}
@media(max-width: 360px) {
    .hire-service {
        width: 320px;
    }
}
@media(max-width: 330px) {
    .hire-service {
        width: 300px;
    }
}
